.options-container.lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lobby-grid{
    max-width: 800px;
    width: 90vw;
    min-height: 400px;
    height: auto;
    background: #4e839a;
    margin-top: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.lobby-grid .lobby-player{
    background: #73bbd9;
    transition: all .3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lobby-grid .lobby-player .player-color{
    width: 50px;
    height: 50px;
    background: #406e81;
    border-radius: 50%;
    margin-right: 10px;
}

.lobby-grid .lobby-player .player-name-plate{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.lobby-grid .lobby-player h3.player-name{
    color: #365a69;
}


.lobby-grid .lobby-player:nth-child(3) .player-color{
    background: #6e0101;
}

.lobby-grid .lobby-player:nth-child(4) .player-color{
    background: #2d672d;
}

.lobby-grid .lobby-player:nth-child(5) .player-color{
    background: #8a6c33;
}



/* .lobby-grid .lobby-player:nth-child(3){
    background: #6e0101;
}

.lobby-grid .lobby-player:nth-child(4){
    background: #2d672d;
}


.lobby-grid .lobby-player:nth-child(5){
    background: #8a6c33;
} */


.lobby-grid .lobby-player.waiting{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
}


.lobby-player.waiting h3{
    text-align: center;
    color: #335462;
    margin-top: 25px;
}

.lobby-player.waiting p{
    text-align: center;
    color: #3f6778;
}


/* 1 player lobby grid */

.lobby-grid.player0mode{
    opacity: 0;
}

.lobby-grid.player1mode .lobby-player:nth-child(1) {
    grid-row: 1 / 3;
}

.lobby-grid.player1mode .lobby-player:nth-child(2){
    grid-row: 1 / 3;
}

.lobby-grid.player1mode .lobby-player:nth-child(3),
.lobby-grid.player1mode .lobby-player:nth-child(4),
.lobby-grid.player1mode .lobby-player:nth-child(5){
    display: none;
}


/* 2 players lobby grid */


.lobby-grid.player2mode .lobby-player:nth-child(1) {
    grid-row: 1 / 3;
}

.lobby-grid.player2mode .lobby-player:nth-child(3){
    grid-row: 1 / 3;
}

.lobby-grid.player2mode .lobby-player:nth-child(2),
.lobby-grid.player2mode .lobby-player:nth-child(4),
.lobby-grid.player2mode .lobby-player:nth-child(5){
    display: none;
}

/* 3 players lobby grid */

.lobby-grid.player3mode .lobby-player:nth-child(1) {
    grid-row: 1 / 3;
}

.lobby-grid.player3mode .lobby-player:nth-child(3){
    
}

.lobby-grid.player3mode .lobby-player:nth-child(2),
.lobby-grid.player3mode .lobby-player:nth-child(5){
    display: none;
}

/* 4 players lobby grid */

.lobby-grid.player4mode .lobby-player:nth-child(2){
    display: none;
}

.lobby-actions{
    margin-top: 20px;
    display: flex;
}

.lobby-actions button{
    width: 80px;
    height: 35px;
    cursor: pointer;
  background: #4e839a;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  position: relative;
  color: #73bbd9;
  transition: all .3s;
    margin: 0px 7px;
}

.lobby-actions button:hover{
    background: #31515f;
}

.error-dialog{
    width: 90vw;
    max-width: 350px;
    height: 220px;
    background: #4e839a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-dialog svg{
    width: 80px;
    height: 80px;
}

.error-dialog svg,
.error-dialog h2,
.error-dialog p{
    color: #2a4956;
}

.error-dialog button{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background: #73bbd9;
    border: none;
    outline: none;
    color: #2a4956;
    cursor: pointer;
    
}

.lobby-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby-error svg{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    color: #81cded;
}

.lobby-error h2{
    color: #81cded;
    font-size: 30px;
}

.lobby-error p{
    color: #81cded;
    font-size: 20px;
}

.lobby-error button{
    width: 80px;
    height: 35px;
    cursor: pointer;
  background: #4e839a;
  border: none;
  outline: none;
  position: relative;
  color: #73bbd9;
  transition: all .3s;
  margin-top: 10px;
}

@media screen and (max-width: 630px) {
    .lobby-grid{
        grid-template-columns: repeat(1, minmax(400px, 1fr));
        grid-template-rows: repeat(4, minmax(200px, 1fr));
        margin-bottom: 0px;
    }

    .lobby-grid.player0mode{
        opacity: 0;
    }

    .lobby-actions{
        margin-bottom: 20px;
    }


    .lobby-grid.player1mode .lobby-player:nth-child(1) {
        grid-row: initial;
    }
    
    .lobby-grid.player1mode .lobby-player:nth-child(2){
        grid-row: initial
    }

    .lobby-grid.player2mode, 
    .lobby-grid.player1mode{
        grid-template-rows: repeat(2, minmax(300px, 1fr));
        margin-top: 80px;
    }

    .lobby-grid.player2mode .lobby-player:nth-child(1),
    .lobby-grid.player3mode .lobby-player:nth-child(1){
        grid-row: initial;
    }
    .lobby-grid.player2mode .lobby-player:nth-child(3){
        grid-row: initial;
    }

    .lobby-grid.player3mode{
        grid-template-rows: repeat(3, minmax(250px, 1fr));
        margin-top: 80px;
    }
}

.loading-ring.lobby-loader{
    width: 90px;
    height: 90px;
    position: relative;
    top: 20px;
}

.loading-ring.lobby-loader .spinner{
    position: absolute;
    top: 0px;
    transform: translate(-10px, -10px);
    left: 0px;
}


.loading-ring.start-btn-loader{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid #46778c;
    transform: translate(-50%, -50%);
}

.loading-ring.start-btn-loader .spinner{
    border: 4px solid #335462;
    border-left: 4px solid transparent;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    transform: translate(-2px, -4.5px);
    border-bottom: 4px solid transparent;
    animation: lobbySpinner 2.5s  infinite linear;
}

@keyframes lobbySpinner {
    0%{
        transform: translate(-3px, -3px)
        rotate(0deg);
    }
    100%{
        transform: translate(-3px, -3px)
        rotate(360deg);
    }
}