.options-container{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: #406e81;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-container h1.logo{
    color: #95c1d4;
    width: 200px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: #406e81;
}

header{
    width: 100vw;
    height: 60px;
    background: #406e81;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    align-items: center;
    left: 0px;
    padding-right: 20px;
    z-index: 1;
}

header button{
    width: 120px;
    height: 35px;
    cursor: pointer;
  background: #4e839a;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
  color: #73bbd9;
  transition: all .3s;
}

header button svg{
    margin-right: 8px;
}