.game-container{
    width: 100vw;
    min-height: 100vh;
    background: #406e81;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.game-container.blue{
    background: #406e81;
}
  
.game-container.red{
    background: #a10000;
}
  
.game-container.green{
    background: #3e943e;
}
  
.game-container.yellow{
    background: #c19647;
  }

  .game-container.inactive{
    pointer-events: none;
  }