.share-modal{
    width: 300px;
    height: 300px;
     background: #4e839a;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
     scale(0.5);
     pointer-events: none;
     opacity: 0;
     transition: all .3s ease;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-modal.show{
     transform: translate(-50%, -50%)
     scale(1);
     pointer-events: all;
     opacity: initial;
}

.share-modal h3{
    margin-top: 10px;
      color: #73bbd9;
}

.share-modal .scan{
    width: 90%;
    height: 170px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.share-modal .link{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    background: #5c94ac;
}

.share-modal .link-text{
    width: calc(100% - 30px );
    height: 30px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    padding: 0px 4px;
    font-size: 14px;
    color: #2f4d5a;
    white-space: nowrap;
}

.share-modal .link-text::-webkit-scrollbar{
    display: none;
}

.share-modal .copy{
    width: 30px;
    height: 40px;
      color: #2f4d5a;
      cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}